<body>
    <h1>
    <%= title %>
    </h1>
    <table border>
    <thead>
    <tr>
    <th>num_offre</th>
    <th>email_candidat</th>
    <th>date</th>
    </tr>
    </thead>
    <tbody>
    <% candidater.forEach((candidater)=> { %>
    <tr>
    <td>
    <%= candidater.num_offre %>
    </td>
    <td>
    <%= candidater.email_candidat %>
    </td>
    <td>
    <%= candidater.date %>
    </td>
    </tr>
    <% }) %></tbody>
  </table>
  </body>