<body>
    <h1>
    <%= title %>
    </h1>
    <table border>
    <thead>
    <tr>
    <th>id_fiche</th>
    <th>intitulé</th>
    <th>statut</th>
    </tr>
    </thead>
    <tbody>
    <% fiche.forEach((fiche)=> { %>
    <tr>
    <td>
    <%= fiche.id_fiche %>
    </td>
    <td>
    <%= fiche.intitulé %>
    </td>
    <td>
    <%= fiche.statut %>
    </td>
    </tr>
    <% }) %></tbody>
</table>
</body>