<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <style>
    body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
    a.button {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border-radius: 8px;
    }
    a.button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

  <h1>Bienvenue sur Recr’UT !</h1>
  <p>Choisissez une action :</p>

  <a class="button" href="/users/usersList">Voir les utilisateurs</a>
  <a class="button" href="/offres/offresList">Voir les offres</a>
  <a class="button" href="/fiche/ficheList">Voir les fiches</a>
  <a class="button" href="/organisation/organisationList">Voir les organisations</a>
  <a class="button" href="/candidature/candidatureList">Candidature</a>

</body>
</html>