<body>
  <h1>
  <%= title %>
  </h1>
  <table border>
  <thead>
  <tr>
  <th>numéro</th>
  <th>état</th>
  <th>date_validité</th>
  </tr>
  </thead>
  <tbody>
  <% offres.forEach((offres)=> { %>
  <tr>
  <td>
  <%= offres.numéro %>
  </td>
  <td>
  <%= offres.etat %>
  </td>
  <td>
  <%= offres.date_validité %>
  </td>
  </tr>
  <% }) %></tbody>
</table>
</body>